.products{
    background-color: #dcd1f3;
        
    
        

    .img-fluid{
        img{
            width: 100%;
           
}
}
}

.cardPhone{
    transition: all 0.5s;
    &:hover{
       
            box-shadow: 0 30px 30px -10px grey;
}
}
